#select STATIC_CONFIG or FILE_CONFIG
#STATIC_CONFIG need to modify src/config.h
STATIC_CONFIG=n
FILE_CONFIG=y
#select DYNAMIC or STATIC
#STATIC build only one binary
DYNAMIC=y
STATIC=n
MODULES=n
#select the maximum of host to manage (host/port and virtual)
MAX_SERVERS=4

#LIBHTTPSERVER configuration
LIBHTTPSERVER_DIR=libhttpserver
LIBB64_DIR=../libb64
LIBMD5_DIR=../md5-c
LIBSHA1_DIR=../libsha1
#multi threads server may run with "fork" or "pthread"
#if mono thread only one server may run
VTHREAD=y
VTHREAD_TYPE=fork

#modules selection:

#LIBHTTPSERVER modules configuration
#support HTTPS connection and hash functions
MBEDTLS=y
WOLFSSL=n
OPENSSL=n
#support of static documents
DOCUMENT=y
DOCUMENTREST=y
SENDFILE=y
DIRLISTING=y
RANGEREQUEST=y
DOCUMENTHOME=y
#support CGI/1.1
CGI=y
#support Authentification Basic
AUTH=y
AUTHN_NONE=y
AUTHN_BASIC=y
AUTHN_DIGEST=y
AUTHZ_SIMPLE=y
AUTHZ_FILE=y
AUTHZ_UNIX=y
AUTHZ_SQLITE=y
#support of the websocket
WEBSOCKET=y
WEBSOCKET_RT=n
WS_ECHO=y
WS_CHAT=y
WS_JSONRPC=y
#support of Virtual Hosting
VHOSTS=y
#support of request method check
METHODLOCK=y
#add Server Software name into the headers
SERVERHEADER=y
#support of the HTTP streaming
WEBSTREAM=y
UDPGW=y
#support of client address filter
CLIENTFILTER=y
#support the redirection of 404 error request not found
REDIRECT404=y
#support cookie parser
COOKIE=y

HOST_UTILS=n

#prefix=
#bindir=
#sbindir=
#includedir=
#libdir=
#sysconfdir=

#sysroot=
#CROSS_COMPILER=
