#select STATIC_CONFIG or FILE_CONFIG
#STATIC_CONFIG need to modify src/config.h
STATIC_CONFIG=n
FILE_CONFIG=y
#select DYNAMIC or STATIC
#STATIC build only one binary
DYNAMIC=y
STATIC=n
#select the maximum of host to manage (host/port and virtual)
MAX_SERVERS=4

#LIBHTTPSERVER configuration
LIBHTTPSERVER_DIR=libhttpserver
#multi threads server
#if mono thread only one server may run
VTHREAD=y
VTHREAD_TYPE=fork

#modules selection:

#LIBHTTPSERVER modules configuration
#support HTTPS connection
MBEDTLS=y
#support of the websocket
WEBSOCKET=y

#select STATIC_FILE or SENDFILE not the both
#the both send regular files.
#STATIC_FILE is smaller but slower
STATIC_FILE=y
SENDFILE=y
FILESTORAGE=y
DIRLISTING=y
RANGEREQUEST=y
#support CGI/1.1
CGI=y
#support Authentification Basic
AUTH=y
AUTHN_NONE=y
AUTHN_BASIC=y
AUTHN_DIGEST=y
AUTHZ_SIMPLE=y
AUTHZ_FILE=y
AUTHZ_UNIX=y
#support of Virtual Hosting
VHOSTS=y
#support of request method check
METHODLOCK=y
#add Server Software name into the headers
SERVERHEADER=y
#support of the websocket
WEBSOCKET_RT=n
WS_ECHO=y
WS_CHAT=y

HOST_UTILS=n

#prefix=
#bindir=
#sbindir=
#includedir=
#libdir=
#sysconfdir=

#sysroot=
#CROSS_COMPILER=
