servers= ({
		service = "myvhost3";
		websocket = {
			docroot = "/tmp";
			allow = "echo";
			deny = "*";
			denylast = true;
			links = ({
				origin = "echo2";
				destination = "echo";
				type = "unix";
			});
		};
	});
