# LIBHTTPSERVER configuration:
LIBHTTPSERVER_DIR=libhttpserver/

#define message chunk values
MAXCHUNKS_HEADER=12
MAXCHUNKS_CONTENT=3
MAXCHUNKS_SESSION=70
MAXCHUNKS_URI=2
HTTPMESSAGE_CHUNKSIZE=128
HTTPMESSAGE_KEEPALIVE_ENABLED=n
HTTPCLIENT_FEATURES=n
HTTPCLIENT_DUMPSOCKET=n

#define string API value
STRING_MAXLENGTH=HTTPMESSAGE_CHUNKSIZE*MAXCHUNKS_URI

#select FILE_CONFIG to use a configuration file
#or modify src/config.h
FILE_CONFIG=y
#select SHARED or STATIC
#STATIC build only one binary
SHARED=n
STATIC=y
MODULES=n
#select the maximum of host to manage (host/port and virtual)
MAX_SERVERS=4

#multi threads server may run with "fork" or "pthread"
#if mono thread only one server may run
VTHREAD=n
VTHREAD_TYPE=fork

USE_STDARG=y
USE_REENTRANT=y
USE_EXECVEAT=n
USE_POLL=y
USE_PTHREAD=n

LOG_MAXFILESIZE=1048576

# libraries  configuration:
LIBWEBSOCKET=y
LIBURI=n
LIBUTILS=y
LIBHASH=y

# libouihash configuration:
LIBB64=y
# libouisocket configuration:
MAXWEBSOCKETS=10

# MODULES configuration:
#support HTTPS connection and hash functions
MBEDTLS=y
WOLFSSL=n
OPENSSL=n
#support of static documents
SECURITY_UNCHECKORIGIN=y
DOCUMENT=y
DOCUMENTREST=n
SENDFILE=y
DIRLISTING=y
RANGEREQUEST=n
DOCUMENTHOME=y
#support CGI/1.1
CGI=y
#support Authentification Basic
AUTH=y
AUTH_TOKEN=n
AUTHN_NONE=n
AUTHN_BASIC=y
AUTHN_DIGEST=n
AUTHN_BEARER=n
AUTHN_OAUTH2=n
AUTHN_WWWFORM=n
AUTHZ_SIMPLE=y
AUTHZ_FILE=y
AUTHZ_UNIX=n
AUTHZ_SQLITE=n
AUTHZ_JWT=n
AUTHZ_JWT_CHECKHEADER=n
AUTHZ_TOTP=n
AUTHZ_MANAGER=n
#support of the websocket
WEBSOCKET=y
WEBSOCKET_RT=n
WS_ECHO=n
WS_CHAT=n
WS_JSONRPC=n
WS_SYSLOGD=n
#support of Virtual Hosting
VHOST=n
#support of request method check
METHODLOCK=n
#add Server Software name into the headers
SERVERHEADER=y
#support of the HTTP streaming
WEBSTREAM=n
UDPGW=n
DUMMYSTREAM=n
#support of client address filter
CLIENTFILTER=n
#support the redirection
REDIRECT=y
#support cookie parser
COOKIE=y
#support Cross-Origin Resource Sharing (CORS)
CORS=y
#support of upgrade and reverse-http
UPGRADE=y
UPGRADE_INET=n
#support for filter uri select by user
USERFILTER=n
#support of simple python scripts (staging)
PYTHON=n
#support of request forwarding
#   depends on HTTPCLIENT_FEATURES
FORWARD=n
#support date field
DATE=y
#support of response's signature rfc9421
SIGNATURE=n

CERTIFICATE=n

HOST_UTILS=n
