LIBHTTPSERVER_DIR=libhttpserver/
 MAXCHUNKS_HEADER=12
 MAXCHUNKS_CONTENT=3
 MAXCHUNKS_SESSION=70
 MAXCHUNKS_URI=2
 HTTPMESSAGE_CHUNKSIZE=128
 HTTPMESSAGE_KEEPALIVE_ENABLED=y
 STRING_MAXLENGTH=HTTPMESSAGE_CHUNKSIZE*MAXCHUNKS_URI
 HTTPCLIENT_FEATURES=n
 FILE_CONFIG=y
 SHARED=y
 STATIC=n
 MODULES=y
 MAX_SERVERS=4
 VTHREAD=y
 VTHREAD_TYPE=fork
 BACKTRACE=y
 USE_STDARG=y
 USE_REENTRANT=y
 USE_POLL=y
 USE_PTHREAD=y
 LOG_MAXFILESIZE=1048576
 LIBWEBSOCKET=y
 LIBURI=n
 LIBUTILS=y
 LIBHASH=y
 LIBB64=y
 MAXWEBSOCKETS=10
 MBEDTLS=n
 WOLFSSL=n
 OPENSSL=y
 SECURITY_UNCHECKORIGIN=y
 DOCUMENT=y
 DOCUMENTREST=y
 SENDFILE=y
 DIRLISTING=y
 RANGEREQUEST=y
 DOCUMENTHOME=y
 CGI=y
 AUTH=y
 AUTH_TOKEN=y
 AUTHN_NONE=y
 AUTHN_BASIC=y
 AUTHN_DIGEST=y
 AUTHN_BEARER=y
 AUTHN_OAUTH2=n
 AUTHN_WWWFORM=y
 AUTHZ_SIMPLE=y
 AUTHZ_FILE=y
 AUTHZ_UNIX=n
 AUTHZ_SQLITE=y
 AUTHZ_JWT=y
 AUTHZ_JWT_CHECKHEADER=y
 AUTHZ_TOTP=y
 WEBSOCKET=y
 WEBSOCKET_RT=n
 WEBSOCKET_PING=n
 WS_ECHO=y
 WS_CHAT=y
 WS_JSONRPC=y
 WS_SYSLOGD=y
 VHOST=y
 AUTHZ_MANAGER=y
 METHODLOCK=n
 SERVERHEADER=y
 WEBSTREAM=y
 UDPGW=y
 DUMMYSTREAM=y
 MJPEG=y
 CLIENTFILTER=y
 REDIRECT=y
 COOKIE=y
 CORS=y
 UPGRADE=y
 UPGRADE_INET=n
 USERFILTER=y
 PYTHON=n
 FORWARD=n
 DATE=y
 SIGNATURE=n
 CERTIFICATE=n
 HOST_UTILS=y
 WEBCOMMON=n
 JQUERY=y
 BOOTSTRAP=y
 GLYPHICONS=y
 MJPEG=y
 USE_EXECVEAT=n
